<!DOCTYPE html>
<html>
<head>
    <title>Screenshots Viewer</title>
    <style>
        body { font-family: sans-serif; margin: 2em; }
        table { border-collapse: collapse; width: 100%; }
        th, td { padding: 8px; border: 1px solid #ccc; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>Screenshots Table</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Filename</th>
                <th>Result Text</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td> 
                    <a href="{{ url }}/api/resources/get?id={{ row.file_path.split('/')[-1].split('.')[0] }}&key={{ key }}" target="_blank"> {{ row.file_path.split('/')[-1].split('.')[0] }} </a>
                </td>
                <td>{{ row.processed_text }}</td>
                <td>{{ row.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>